Repository broadinstitute/viral-ngs: changes, and which Codecov flags are due for each by the changed paths.
All: core, assemble, classify, phylo

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        informational: true  # Never fails, just shows coverage info
    patch:
      default:
        informational: true  # Never fails, just shows patch coverage

# Flag configuration for multi-component coverage
flags:
  core:
    paths:
      - src/viral_ngs/core/
      - src/viral_ngs/util/
      - src/viral_ngs/*.py
    carryforward: true
  assemble:
    paths:
      - src/viral_ngs/assemble/
      - src/viral_ngs/assembly.py
    carryforward: true
  classify:
    paths:
      - src/viral_ngs/classify/
      - src/viral_ngs/metagenomics.py
      - src/viral_ngs/taxon_filter.py
      - src/viral_ngs/kmer_utils.py
    carryforward: true
  phylo:
    paths:
      - src/viral_ngs/phylo/
      - src/viral_ngs/interhost.py
      - src/viral_ngs/intrahost.py
      - src/viral_ngs/ncbi.py
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true  # Only comment if coverage changes

feat(03-02): coordinate invariant-checked Lyra artifacts
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_artifacts.py
Due: classify

test(03-02): prove coordinated Lyra artifact contracts
  tests/unit/classify/test_lyra_artifacts.py
Due: none

test(03-03): add failing threshold rendering regressions
  tests/unit/classify/test_lyra_artifacts.py
Due: none

feat(03-03): bound canonical threshold rendering
  src/viral_ngs/classify/lyra.py
Due: classify

test(03-03): add failing output path routing regressions
  tests/unit/classify/test_lyra_artifacts.py
Due: none

feat(03-03): reuse validated artifact output paths
  src/viral_ngs/classify/lyra.py
Due: classify

test(03-04): add failing broken-pipe status regressions
  tests/unit/core/test_read_utils.py
Due: none

feat(03-04): preserve authoritative samtools failures
  src/viral_ngs/core/misc.py
Due: core

Pin rpds-py 2026.6.3 to fix GHSA-36hh-v3qg-5jq4
  .trivyignore
  docker/requirements/baseimage.txt
Due: none

test(04-01): add failing source identity contracts
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-01): define source identity contracts
  src/viral_ngs/classify/lyra.py
Due: classify

test(04-01): add failing source binding regressions
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-01): bind artifacts to reconciled BAM source
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_fragments.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-02): add failing path preflight regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-02): reject artifact path hazards before processing
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-02): add failing coordinator and no-clobber regressions
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-02): route immutable plans through Lyra processing
  src/viral_ngs/classify/lyra.py
Due: classify

test(04-03): add failing staged readback regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-03): stage and verify complete Lyra artifacts
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-03): add failing durable publication regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-03): publish Lyra artifacts with durable rollback
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-04): add failing publication safety matrix
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-04): harden Lyra publication failures
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-04): add failing cleanup cascade regressions
  tests/unit/classify/test_lyra_publication.py
  tests/unit/core/test_read_utils.py
Due: none

feat(04-04): preserve BAM filter cleanup diagnostics
  src/viral_ngs/classify/lyra.py
  src/viral_ngs/core/misc.py
  tests/unit/classify/test_lyra_publication.py
  tests/unit/core/test_read_utils.py
Due: core, classify

test(04-05): add failing descriptor filtering regressions
  tests/unit/core/test_read_utils.py
Due: none

feat(04-05): filter BAMs through inherited descriptors
  src/viral_ngs/core/misc.py
  tests/unit/core/test_read_utils.py
Due: core

test(04-05): add failing source descriptor lifecycle regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-05): retain reconciled BAM descriptor through filtering
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-06): add failing parent and stage handle regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-06): retain parent and stage descriptors
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-06): add failing descriptor-backed artifact regressions
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-06): generate and validate artifacts through stage handles
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-07): add failing descriptor publication regressions
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-07): publish validated stages through retained descriptors
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-07): add failing anchored cleanup regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

feat(04-07): anchor rollback and cleanup to parent descriptors
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-08): lock narrowed rollback residual contract
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_publication.py
Due: classify

test(04-09): add failing post-publication close regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

fix(04-09): retain rollback anchors through stage close
  src/viral_ngs/classify/lyra.py
Due: classify
