Repository broadinstitute/viral-ngs: changes, and which Codecov flags are due for each by the changed paths.
All: core, assemble, classify, phylo

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        informational: true  # Never fails, just shows coverage info
    patch:
      default:
        informational: true  # Never fails, just shows patch coverage

# Flag configuration for multi-component coverage
flags:
  core:
    paths:
      - src/viral_ngs/core/
      - src/viral_ngs/util/
      - src/viral_ngs/*.py
    carryforward: true
  assemble:
    paths:
      - src/viral_ngs/assemble/
      - src/viral_ngs/assembly.py
    carryforward: true
  classify:
    paths:
      - src/viral_ngs/classify/
      - src/viral_ngs/metagenomics.py
      - src/viral_ngs/taxon_filter.py
      - src/viral_ngs/kmer_utils.py
    carryforward: true
  phylo:
    paths:
      - src/viral_ngs/phylo/
      - src/viral_ngs/interhost.py
      - src/viral_ngs/intrahost.py
      - src/viral_ngs/ncbi.py
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true  # Only comment if coverage changes

feat: clean up VirNucPro temp dir on SIGTERM
  src/viral_ngs/classify/virnucpro.py
  tests/unit/classify/test_virnucpro.py
Due: classify

chore: pin duckdb<2.0 to avoid major-version drift
  docker/requirements/classify.txt
Due: none

Revert "feat: clean up VirNucPro temp dir on SIGTERM"
  src/viral_ngs/classify/virnucpro.py
  tests/unit/classify/test_virnucpro.py
Due: classify

Add Centrifuger Kraken2 output conversion
  src/viral_ngs/classify/centrifuger.py
  src/viral_ngs/core/file.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_tools_centrifuger.py
  tests/unit/core/test_util_file.py
Due: core, classify

CI: Fix Trivy scan disk space issues and separate secret scanning
  .github/workflows/docker.yml
Due: none

Address Copilot review: extract disk cleanup to shared action and update scheduled scan
  .github/actions/free-disk-space/action.yml
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
Due: none

CI: Increase Trivy scan timeout to 20 minutes for large images
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
Due: none

Expose Centrifuger classification conversion CLI
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
Due: core, classify

Expose VirNucPro read-by-contig labeling command
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
Due: core, classify

docs: Add tool integration checklist to AGENTS.md
  AGENTS.md
Due: none

Polish VirNucPro post-processing controls
  docker/Dockerfile.classify
  src/viral_ngs/classify/virnucpro.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_virnucpro.py
Due: core, classify

Refactor VirNucPro read classification to BAM
  src/viral_ngs/classify/virnucpro.py
  tests/unit/classify/test_virnucpro.py
Due: classify

Address VirNucPro BAM read labeling review feedback
  src/viral_ngs/classify/virnucpro.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_virnucpro.py
Due: core, classify

Refactor kb component to kallisto
  AGENTS.md
  docker/Dockerfile.classify
  docker/requirements/classify-x86.txt
  docker/requirements/classify.txt
  src/viral_ngs/classify/__init__.py
  src/viral_ngs/classify/kallisto.py
  src/viral_ngs/metagenomics.py
  tests/input/TestKallisto/SRR12340077.2.sample.fastq.gz
  tests/input/TestKallisto/palmdb.corona.idx
  tests/input/TestKallisto/palmdb_clustered_t2g.txt
  tests/input/TestKallisto/palmdb_rdrp_seqs.corona.fa
  tests/unit/classify/test_integration_kallisto.py
  tests/unit/classify/test_integration_kb.py
  tests/unit/classify/test_tools_kallisto.py
  tests/unit/classify/test_tools_kb_python.py
Due: core, classify

remove some vestigal stuff
  .gitignore
Due: none

TEMP: allow workflow_dispatch to force cve-fix-pr job (revert before merge)
  .github/workflows/container-scan.yml
Due: none

TEMP: add app-token-probe job for PR #1074 validation (revert before merge)
  .github/workflows/container-scan.yml
Due: none

Revert "TEMP: allow workflow_dispatch to force cve-fix-pr job (revert before merge)"
  .github/workflows/container-scan.yml
Due: none

Revert "TEMP: add app-token-probe job for PR #1074 validation (revert before merge)"
  .github/workflows/container-scan.yml
Due: none

ci: bump GitHub Actions to Node 24 runtimes
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
Due: none

Document classifier design decisions
  src/viral_ngs/classify/DESIGN.md
Due: classify

Add kallisto read summary output
  src/viral_ngs/classify/kallisto.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_integration_kallisto.py
  tests/unit/classify/test_tools_kallisto.py
Due: core, classify

Add kallisto top taxa TSV reporting
  src/viral_ngs/classify/kallisto.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_tools_kallisto.py
Due: core, classify

Handle headerless kallisto taxonomy maps
  src/viral_ngs/classify/kallisto.py
  tests/unit/classify/test_tools_kallisto.py
Due: classify

Verify kallisto import in classify image
  docker/Dockerfile.classify
Due: none

Remove kallisto tarball h5ad compatibility
  src/viral_ngs/classify/kallisto.py
Due: classify

Query kallisto version via micromamba
  src/viral_ngs/classify/kallisto.py
  tests/unit/classify/test_tools_kallisto.py
Due: classify

Handle empty kallisto count outputs
  src/viral_ngs/classify/kallisto.py
  tests/unit/classify/test_tools_kallisto.py
Due: classify

Address kallisto review findings
  KALLISTO_CODE_REVIEW.md
  src/viral_ngs/classify/DESIGN.md
  src/viral_ngs/classify/kallisto.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_tools_kallisto.py
Due: core, classify

Remove accidental Kallisto review notes
  KALLISTO_CODE_REVIEW.md
Due: none

Reject fractional kallisto counts
  src/viral_ngs/classify/kallisto.py
  tests/unit/classify/test_tools_kallisto.py
Due: classify

Test kallisto count output with top taxa
  tests/unit/classify/test_integration_kallisto.py
Due: none

Remove vestigial broad_utils module
  docs/broad_utils.rst
  docs/cmdline.rst
  pyproject.toml
  src/viral_ngs/broad_utils.py
Due: core

Add read classification join component
  src/viral_ngs/classify/DESIGN.md
  src/viral_ngs/classify/__init__.py
  src/viral_ngs/classify/read_classifications.py
  src/viral_ngs/classify/virnucpro.py
  src/viral_ngs/core/duckdb_utils.py
  src/viral_ngs/core/misc.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_read_classifications.py
  tests/unit/classify/test_virnucpro.py
  tests/unit/core/test_duckdb_utils.py
Due: core, classify

Expand Trivy JSON output for comprehensive debugging
  .github/workflows/container-scan.yml
Due: none

Update container-vulns SKILL.md to document JSON scan differences
  .agents/skills/container-vulns/SKILL.md
Due: none

ci(container-scan): repair auto-fix PR git add and add on-demand fix trigger
  .github/workflows/container-scan.yml
Due: none

docs(container-vulns): document auto-fix PR job and force_fix_pr recovery path
  .agents/skills/container-vulns/SKILL.md
Due: none

fix: prevent cve-autofix pipeline from leaking GCP credential files
  .github/workflows/container-scan.yml
  .gitignore
Due: none

ci(container-scan): install gitleaks before cve-autofix secret scan
  .github/workflows/container-scan.yml
Due: none
