Repository broadinstitute/viral-ngs: changes, and which Codecov flags are due for each by the changed paths.
All: core, assemble, classify, phylo

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        informational: true  # Never fails, just shows coverage info
    patch:
      default:
        informational: true  # Never fails, just shows patch coverage

# Flag configuration for multi-component coverage
flags:
  core:
    paths:
      - src/viral_ngs/core/
      - src/viral_ngs/util/
      - src/viral_ngs/*.py
    carryforward: true
  assemble:
    paths:
      - src/viral_ngs/assemble/
      - src/viral_ngs/assembly.py
    carryforward: true
  classify:
    paths:
      - src/viral_ngs/classify/
      - src/viral_ngs/metagenomics.py
      - src/viral_ngs/taxon_filter.py
      - src/viral_ngs/kmer_utils.py
    carryforward: true
  phylo:
    paths:
      - src/viral_ngs/phylo/
      - src/viral_ngs/interhost.py
      - src/viral_ngs/intrahost.py
      - src/viral_ngs/ncbi.py
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true  # Only comment if coverage changes

Accept DRAGEN FASTQ names with no lane token (#1113)
  src/viral_ngs/illumina.py
Due: core

Say L# rather than L00# now that lane tokens are not 3-padded
  src/viral_ngs/illumina.py
  tests/unit/core/test_illumina.py
Due: core

Add failing tests for single-sample 3-barcode pools (#1115)
  tests/input/TestSplitcodeDemuxFastqs/samples_3bc_single.tsv
  tests/input/TestSplitcodeDemuxIntegration/SampleSheet-singleton-pools.tsv
  tests/unit/core/test_illumina.py
Due: none

Accept 3-barcode pools that hold a single sample (#1115)
  src/viral_ngs/classify/VIRNUCPRO.md
  src/viral_ngs/core/illumina_utils.py
  src/viral_ngs/illumina.py
  tests/unit/core/test_illumina.py
Due: core, classify

Add failing tests for pools with mixed library_id_per_sample
  tests/input/TestSplitcodeDemuxFastqs/samples_3bc_multilib.tsv
  tests/unit/core/test_illumina.py
Due: none

Identify a pool by its barcodes, not by the pool BAM's filename
  src/viral_ngs/illumina.py
  tests/unit/core/test_illumina.py
Due: core

Address Copilot review; drop a doc that never belonged in this PR
  src/viral_ngs/classify/VIRNUCPRO.md
  src/viral_ngs/illumina.py
  tests/unit/core/test_illumina.py
Due: core, classify

Add failing tests for pools holding several library ids (#1117)
  tests/input/TestSplitcodeDemuxIntegration/SampleSheet-multilib.tsv
  tests/unit/core/test_illumina.py
Due: none

Identify a pool by its barcodes in splitcode_demux too (#1117)
  src/viral_ngs/core/splitcode.py
  src/viral_ngs/illumina.py
Due: core

Address Copilot review: NaN barcode_2, glob breadth, broken log call
  src/viral_ngs/core/splitcode.py
  src/viral_ngs/illumina.py
  tests/unit/core/test_illumina.py
Due: core

Derive the pool BAM name from the collapse instead of matching a pattern
  src/viral_ngs/illumina.py
  tests/input/TestSplitcodeDemuxIntegration/SampleSheet-mixed-pools.tsv
  tests/unit/core/test_illumina.py
Due: core

Ignore urllib3 CVE-2026-97687 in pip's vendored copy until pip catches up
  .trivyignore.yaml
Due: none

Move baseimage to Ubuntu 26.04 LTS (micromamba 2.9.0)
  docker/Dockerfile.baseimage
Due: none

Drop pebble from baseimage; floor ruby>=4.0 in phylo
  docker/Dockerfile.baseimage
  docker/requirements/phylo.txt
Due: none

Floor ruby>=4.0 in assemble too
  docker/requirements/assemble.txt
Due: none

Tests: skip novoalign tests when it's absent, expect minimap2 default
  tests/__init__.py
  tests/unit/core/test_read_utils.py
  tests/unit/core/test_tools.py
  tests/unit/core/test_tools_novoalign.py
Due: none

Make novoalign optional at runtime; default align_and_fix to minimap2
  src/viral_ngs/assembly.py
  src/viral_ngs/core/novoalign.py
  src/viral_ngs/read_utils.py
Due: core, assemble

Drop novoalign from the x86 core image
  AGENTS.md
  README.md
  docker/requirements/core-x86.txt
  docker/requirements/core.txt
Due: none

FastQC: use --outdir instead of -o (removed in FastQC 0.13.0)
  src/viral_ngs/core/fastqc.py
Due: core
