Repository broadinstitute/viral-ngs: changes, and which Codecov flags are due for each by the changed paths.
All: core, assemble, classify, phylo

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        informational: true  # Never fails, just shows coverage info
    patch:
      default:
        informational: true  # Never fails, just shows patch coverage

# Flag configuration for multi-component coverage
flags:
  core:
    paths:
      - src/viral_ngs/core/
      - src/viral_ngs/util/
      - src/viral_ngs/*.py
    carryforward: true
  assemble:
    paths:
      - src/viral_ngs/assemble/
      - src/viral_ngs/assembly.py
    carryforward: true
  classify:
    paths:
      - src/viral_ngs/classify/
      - src/viral_ngs/metagenomics.py
      - src/viral_ngs/taxon_filter.py
      - src/viral_ngs/kmer_utils.py
    carryforward: true
  phylo:
    paths:
      - src/viral_ngs/phylo/
      - src/viral_ngs/interhost.py
      - src/viral_ngs/intrahost.py
      - src/viral_ngs/ncbi.py
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true  # Only comment if coverage changes

Fix Claude Write permissions and update Node.js 20 actions (#1064)
  .github/workflows/container-scan.yml
  .gitignore
Due: none

Fix CVE-2026-42246: upgrade Ruby net-imap gem to >=0.6.4
  docker/Dockerfile.assemble
  docker/Dockerfile.mega
  docker/Dockerfile.phylo
Due: none

Fix gem removal depth and path per Copilot review
  docker/Dockerfile.assemble
  docker/Dockerfile.mega
  docker/Dockerfile.phylo
Due: none

Fix CI: add scan retry and update deprecated GitHub Actions
  .github/actions/setup-docker-build/action.yml
  .github/workflows/audit-quay-tags.yml
  .github/workflows/cleanup-images.yml
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
Due: none

Fix artifact upload and reduce Claude permission denials in CVE triage
  .github/workflows/container-scan.yml
Due: none

Fix artifact upload and reduce Claude permission denials in CVE triage (#1067)
  .github/workflows/container-scan.yml
Due: none

Fix artifact upload: include-hidden-files for .claude-issues/
  .github/workflows/container-scan.yml
Due: none

Fix artifact upload: include-hidden-files for .claude-issues/ (#1068)
  .github/workflows/container-scan.yml
Due: none

Add urllib3>=2.7.0 pin to fix CVE-2026-44431 and CVE-2026-44432
  docker/requirements/baseimage.txt
Due: none

Remove cryptography docs to fix Trivy secret scan
  docker/Dockerfile.baseimage
Due: none

Increase container scan frequency from weekly to daily
  .github/workflows/container-scan.yml
Due: none

Adding AI-related planning documents to ignore.
  .gitignore
Due: none

Try two to ignore .planning directory from AI framework
  .gitignore
Due: none

Removing agent planning folder
  .planning/PROJECT.md
  .planning/STATE.md
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
  .planning/phases/01-pre-implementation-validation/01-01-SUMMARY.md
Due: none

Add Centrifuger tool wrapper to classify subpackage
  docker/requirements/classify.txt
  src/viral_ngs/classify/__init__.py
  src/viral_ngs/classify/centrifuger.py
Due: classify

Expose centrifuger, centrifuger_build, centrifuger_quant CLI commands
  src/viral_ngs/metagenomics.py
Due: core, classify

Add Centrifuger unit, integration, and CLI plumbing tests
  tests/unit/classify/test_integration_centrifuger.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_tools_centrifuger.py
Due: none

Add kreport method to Centrifuger tool wrapper
  src/viral_ngs/classify/centrifuger.py
Due: classify

Expose centrifuger_kreport CLI subcommand
  src/viral_ngs/metagenomics.py
Due: core, classify

Add Centrifuger kreport unit, integration, and CLI plumbing tests
  tests/unit/classify/test_integration_centrifuger.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_tools_centrifuger.py
Due: none

Short-circuit centrifuger kreport on empty classification input
  src/viral_ngs/classify/centrifuger.py
  tests/unit/classify/test_tools_centrifuger.py
Due: classify

Tighten Centrifuger empty input handling
  src/viral_ngs/classify/centrifuger.py
  tests/unit/classify/test_tools_centrifuger.py
Due: classify

Include centrifuger-kreport in integration test skip check
  tests/unit/classify/test_integration_centrifuger.py
Due: none

Add end-to-end empty-BAM integration test for centrifuger
  tests/unit/classify/test_integration_centrifuger.py
Due: none

fix: refine genomad single-input handling
  src/viral_ngs/classify/genomad.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_genomad.py
Due: core, classify

test(03-02): add genomad smoke test and CLI plumbing test
  tests/unit/classify/test_genomad.py
  tests/unit/classify/test_integration_genomad.py
Due: none

fix(deps): pin tensorflow<2.19 to avoid libtensorflow_cc executable-stack failure
  docker/Dockerfile.classify
  docker/requirements/classify.txt
Due: none

test(03-03): cover whitespace-only FASTA and switch out_dir to tmp_path
  tests/unit/classify/test_genomad.py
Due: none

Add VirNucPro classifier wrapper
  src/viral_ngs/classify/__init__.py
  src/viral_ngs/classify/virnucpro.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_tools_virnucpro.py
Due: core, classify

Expose geNomad workflow parameters
  docker/Dockerfile.classify
  src/viral_ngs/classify/genomad.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_genomad.py
Due: core, classify

Fix VirNucPro docs rendering
  src/viral_ngs/classify/virnucpro.py
  src/viral_ngs/core/cmd.py
  src/viral_ngs/metagenomics.py
  tests/unit/core/test_cmd.py
Due: core, classify

Remove VirNucPro classifier wrapper
  src/viral_ngs/classify/virnucpro.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_metagenomics.py
  tests/unit/classify/test_tools_virnucpro.py
  tests/unit/classify/test_virnucpro.py
Due: core, classify

Add DuckDB-backed VirNucPro read classification
  docker/requirements/classify.txt
  src/viral_ngs/classify/virnucpro.py
  src/viral_ngs/core/file.py
  tests/unit/classify/test_virnucpro.py
  tests/unit/core/test_util_file.py
Due: core, classify

fix(deps): upgrade firecloud to 0.16.39 and remove setuptools<80 pin
  .trivyignore
  docker/Dockerfile.baseimage
  docker/requirements/baseimage.txt
Due: none

Address Copilot PR review comments
  docker/Dockerfile.baseimage
  docker/requirements/baseimage.txt
Due: none

feat: auto-detect DuckDB memory limit from cgroup
  src/viral_ngs/classify/virnucpro.py
  tests/unit/classify/test_virnucpro.py
Due: classify

Container scan: earlier cron, cleaner exit semantics, trivy-action SHA pin
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
Due: none

Container scan: earlier cron, cleaner exit semantics, auto-fix PR pipeline, trivy-action SHA pin
  .github/workflows/container-scan.yml
  .gitignore
Due: none

Address Copilot review: tighten permissions + fix dry-run notice wording
  .github/workflows/container-scan.yml
Due: none

Use a dedicated GitHub App installation token for cve-fix-pr
  .github/workflows/container-scan.yml
Due: none
