Repository broadinstitute/viral-ngs: changes, and which Codecov flags are due for each by the changed paths.
All: core, assemble, classify, phylo

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        informational: true  # Never fails, just shows coverage info
    patch:
      default:
        informational: true  # Never fails, just shows patch coverage

# Flag configuration for multi-component coverage
flags:
  core:
    paths:
      - src/viral_ngs/core/
      - src/viral_ngs/util/
      - src/viral_ngs/*.py
    carryforward: true
  assemble:
    paths:
      - src/viral_ngs/assemble/
      - src/viral_ngs/assembly.py
    carryforward: true
  classify:
    paths:
      - src/viral_ngs/classify/
      - src/viral_ngs/metagenomics.py
      - src/viral_ngs/taxon_filter.py
      - src/viral_ngs/kmer_utils.py
    carryforward: true
  phylo:
    paths:
      - src/viral_ngs/phylo/
      - src/viral_ngs/interhost.py
      - src/viral_ngs/intrahost.py
      - src/viral_ngs/ncbi.py
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true  # Only comment if coverage changes

test(04-09): add failing source cleanup rollback regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

fix(04-09): close fragment store inside transaction
  src/viral_ngs/classify/lyra.py
Due: classify

test(04-10): add failing combined cleanup regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

fix(04-10): preserve primary across store cleanup failure
  src/viral_ngs/classify/lyra.py
Due: classify

test(04-11): add failing system-exit cleanup regressions
  tests/unit/classify/test_lyra_publication.py
Due: none

fix(04-11): preserve system-exit cleanup authority
  src/viral_ngs/classify/lyra.py
Due: classify

test(05-01): add failing Lyra CLI contract tests
  tests/unit/classify/test_metagenomics.py
Due: none

feat(05-01): expose Lyra post-processing CLI
  src/viral_ngs/metagenomics.py
Due: core, classify

test(05-01): prove Lyra command temp ownership
  tests/unit/classify/test_metagenomics.py
Due: none

docs(05-04): publish Lyra pipeline contract
  docs/lyra.rst
Due: none

test(05-02): cover Lyra public codec matrix
  tests/unit/classify/test_integration_lyra.py
Due: none

test(05-03): add million-record Lyra production gate
  tests/unit/classify/test_lyra_scale.py
Due: none

test(05-02): prove Lyra CLI boundaries
  tests/unit/classify/test_integration_lyra.py
Due: none

chore(05-03): run Lyra scale gate in classify CI
  .github/workflows/docker.yml
Due: none

docs(05-04): link Lyra contract from metagenomics
  docs/metagenomics.rst
Due: none

docs(05-04): clarify runtime and stage guarantees
  docs/lyra.rst
Due: none

Unblock the CVE auto-fix bot: verify conda availability before triage
  .agents/skills/container-vulns/SKILL.md
  .github/scripts/probe-conda-availability.py
  .github/workflows/container-scan.yml
Due: none

Address Copilot review: don't conflate probe failure with "not packaged"
  .github/scripts/probe-conda-availability.py
  .github/workflows/container-scan.yml
Due: none

Remove pip from the isolated FreeBayes env to clear CVE-2025-47273
  docker/Dockerfile.assemble
Due: none

Also strip pip's vendor.txt from the main env and mega's FreeBayes env
  docker/Dockerfile.baseimage
  docker/Dockerfile.mega
  docker/install-conda-deps.sh
Due: none

Correct the diagnosis: pip's vendored SBOM, not vendor.txt
  .trivyignore
  docker/Dockerfile.assemble
  docker/Dockerfile.baseimage
  docker/Dockerfile.mega
  docker/install-conda-deps.sh
Due: none

Migrate .trivyignore to Trivy's YAML format so every entry is scoped
  .agents/skills/container-vulns/SKILL.md
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
  .trivyignore
  .trivyignore.yaml
Due: none

chore(05): widen Lyra production-scale gate to shared dependencies
  .github/workflows/docker.yml
Due: none

docs(05): document Lyra sample identifier constraints
  docs/lyra.rst
Due: none

Add tests for BBMapTool.clumpify (#968)
  tests/unit/core/test_tools_bbmap.py
Due: none

Add BBMapTool.clumpify wrapper for dedup (#968)
  src/viral_ngs/core/bbmap.py
Due: core

Add tests for rmdup_clumpify_bam (#968)
  tests/unit/core/test_read_utils.py
Due: none

Add rmdup_clumpify_bam: library-aware, provenance-preserving dedup (#968)
  src/viral_ngs/read_utils.py
Due: core

Add tests for downsample_bams --dedupTool (#1111)
  tests/unit/core/test_read_utils.py
Due: none

Route downsample_bams dedup through --dedupTool, default clumpify (#1111)
  src/viral_ngs/core/bbmap.py
  src/viral_ngs/read_utils.py
Due: core

Strip M-Vicuna tests, assert its removal (#1111)
  tests/input/TestMvicuna/expected_pairedOut.1.fastq
  tests/input/TestMvicuna/expected_pairedOut.2.fastq
  tests/input/TestMvicuna/expected_unpairedOut.fastq
  tests/input/TestMvicuna/in.1.fastq
  tests/input/TestMvicuna/in.2.fastq
  tests/input/TestRmdupUnaligned/expected.bam
  tests/unit/core/test_read_utils.py
  tests/unit/core/test_tools.py
Due: none

Drop the M-Vicuna dependency (#1111)
  AGENTS.md
  README.md
  docker/requirements/core-x86.txt
  docker/requirements/core.txt
  src/viral_ngs/core/__init__.py
  src/viral_ngs/core/mvicuna.py
  src/viral_ngs/read_utils.py
Due: core

Record a pre-existing rmdup_cdhit_bam defect exposed by --dedupTool
  src/viral_ngs/read_utils.py
  tests/unit/core/test_read_utils.py
Due: core

Add regression tests for rmdup_cdhit_bam read-group corruption
  tests/unit/core/test_read_utils.py
Due: none

Rebuild rmdup_cdhit_bam on ReadIdStore, fixing read-group corruption
  src/viral_ngs/read_utils.py
Due: core

Add a default-memory test for rmdup_bbnorm_bam
  tests/unit/core/test_read_utils.py
Due: none

Give rmdup_bbnorm_bam the same heap default as clumpify
  src/viral_ngs/core/bbmap.py
  src/viral_ngs/read_utils.py
Due: core

Add a test for unknown dedup_tool values
  tests/unit/core/test_read_utils.py
Due: none

Fail fast on unknown dedup_tool; correct an overstated docstring
  src/viral_ngs/read_utils.py
Due: core

Add failing tests for lane-less DRAGEN FASTQ names (#1113)
  tests/unit/core/test_illumina.py
Due: none
