Repository broadinstitute/viral-ngs: changes, and which Codecov flags are due for each by the changed paths.
All: core, assemble, classify, phylo

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        informational: true  # Never fails, just shows coverage info
    patch:
      default:
        informational: true  # Never fails, just shows patch coverage

# Flag configuration for multi-component coverage
flags:
  core:
    paths:
      - src/viral_ngs/core/
      - src/viral_ngs/util/
      - src/viral_ngs/*.py
    carryforward: true
  assemble:
    paths:
      - src/viral_ngs/assemble/
      - src/viral_ngs/assembly.py
    carryforward: true
  classify:
    paths:
      - src/viral_ngs/classify/
      - src/viral_ngs/metagenomics.py
      - src/viral_ngs/taxon_filter.py
      - src/viral_ngs/kmer_utils.py
    carryforward: true
  phylo:
    paths:
      - src/viral_ngs/phylo/
      - src/viral_ngs/interhost.py
      - src/viral_ngs/intrahost.py
      - src/viral_ngs/ncbi.py
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true  # Only comment if coverage changes

ci(container-scan): make gitleaks install-only (run: false)
  .github/workflows/container-scan.yml
Due: none

Add LucaVirus protein classification module, CLI, and tests
  docker/Dockerfile.classify
  src/viral_ngs/classify/DESIGN.md
  src/viral_ngs/classify/__init__.py
  src/viral_ngs/classify/lucavirus.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_lucavirus.py
  tests/unit/classify/test_metagenomics.py
Due: core, classify

Adding GHSA-36hh-v3qg-5jq4 vulnerability to trivyignore as this library is not exposed
  .trivyignore
Due: none

Fix splitcode unmatched-count inflation in demux metrics (#1091) and expose trim/hamming CLI knobs on splitcode_demux_fastqs (#1095)
  src/viral_ngs/core/splitcode.py
  src/viral_ngs/illumina.py
  tests/input/TestSplitcodeLookupTable/AAAAAAAA-TTTTTTTT.lLibA_summary.json
  tests/input/TestSplitcodeLookupTable/ATCGATCG-GCTAGCTA.lB1_summary.json
  tests/input/TestSplitcodeLookupTable/ATCGATCG-GCTAGCTA.lL1_summary.json
  tests/input/TestSplitcodeLookupTable/GGGGGGGG-CCCCCCCC.lLibB_summary.json
  tests/input/TestSplitcodeLookupTable/TTTTAAAA-CCCCGGGG.lB2_summary.json
  tests/unit/core/test_illumina.py
  tests/unit/core/test_tools_splitcode.py
Due: core

Address Copilot review: fix dtype=str string-concat inflation + correct root-cause narrative
  src/viral_ngs/core/splitcode.py
  tests/input/TestSplitcodeLookupTable/AAAAAAAA-TTTTTTTT.lLibA_summary.json
  tests/input/TestSplitcodeLookupTable/ATCGATCG-GCTAGCTA.lB1_summary.json
  tests/input/TestSplitcodeLookupTable/ATCGATCG-GCTAGCTA.lL1_summary.json
  tests/input/TestSplitcodeLookupTable/GGGGGGGG-CCCCCCCC.lLibB_summary.json
  tests/unit/core/test_tools_splitcode.py
Due: core

Use .get() fallback to n_processed-n_assigned if num_reads_unassigned absent
  src/viral_ngs/core/splitcode.py
Due: core

Add LucaVirus sequence length filtering
  src/viral_ngs/classify/DESIGN.md
  src/viral_ngs/classify/lucavirus.py
  src/viral_ngs/metagenomics.py
  tests/unit/classify/test_lucavirus.py
  tests/unit/classify/test_metagenomics.py
Due: core, classify

Bump CVE-triage CI from Claude Sonnet 4.6 to Sonnet 5
  .agents/skills/claude-on-vertex-ci/SKILL.md
  .agents/skills/container-vulns/SKILL.md
  .github/workflows/container-scan.yml
Due: none

bugfix markdown
  .github/workflows/container-scan.yml
Due: none

Add minibwa aligner to core image and align_and_fix / align_and_plot_coverage
  docker/requirements/core.txt
  src/viral_ngs/core/__init__.py
  src/viral_ngs/core/minibwa.py
  src/viral_ngs/read_utils.py
  src/viral_ngs/reports.py
  tests/unit/core/test_read_utils.py
  tests/unit/core/test_tools_minibwa.py
Due: core

Add Falcon2 test files
  tests/input/G5012.3.testreads.fastq
  tests/input/allref.fasta
  tests/input/top_allref_G5012.3.txt
Due: none

feat(01-01): define Lyra input contracts
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra.py
Due: classify

feat(01-01): parse native Lyra score tables
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra.py
Due: classify

feat(01-01): enforce compressed score parity
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra.py
Due: classify

test(01-02): add failing decoder boundary tests
  tests/unit/classify/test_lyra.py
Due: none

feat(01-02): normalize decoder failures
  src/viral_ngs/classify/lyra.py
Due: classify

test(01-02): add failing hostile repr tests
  tests/unit/classify/test_lyra.py
Due: none

feat(01-02): make diagnostics repr independent
  src/viral_ngs/classify/lyra.py
Due: classify

test(01-03): add failing diagnostic hook regressions
  tests/unit/classify/test_lyra.py
Due: none

fix(01-03): block diagnostic hook execution
  src/viral_ngs/classify/lyra.py
Due: classify

Fix CVE-triage pipeline: bump claude-code-action pin for Sonnet 5 compat
  .github/workflows/container-scan.yml
Due: none

ci: bump docker/build-push-action to v7 (Node 24) and pin Trivy scanner to v0.72.0
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
Due: none

Bump Pillow to 12.3.0 for CVE fixes
  docker/requirements/core.txt
Due: none

Isolate FreeBayes to fix ARM64 dependency conflict
  docker/Dockerfile.assemble
  docker/Dockerfile.mega
  docker/requirements/assemble.txt
  docker/requirements/freebayes.txt
Due: none

Remove deprecated SnpEff SAS token from images
  docker/Dockerfile.mega
  docker/Dockerfile.phylo
Due: none

test(02-01): add failing reconciliation store contracts
  tests/unit/classify/test_lyra_reconciliation_store.py
Due: none

feat(02-01): implement exact reconciliation store
  src/viral_ngs/classify/lyra.py
Due: classify

test(02-01): add failing evidence ingestion tests
  tests/unit/classify/test_lyra_reconciliation_store.py
Due: none

feat(02-01): stream exact score and BAM evidence
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_reconciliation_store.py
Due: classify

test(02-02): add failing pairing matrix contracts
  tests/unit/classify/test_lyra_reconciliation_errors.py
Due: none

feat(02-02): implement intrinsic pairing validation
  src/viral_ngs/classify/lyra.py
Due: classify

test(02-02): add failing reconciliation verdict tests
  tests/unit/classify/test_lyra_reconciliation_errors.py
Due: none

feat(02-02): select deterministic reconciliation errors
  src/viral_ngs/classify/lyra.py
Due: classify

test(02-03): add failing fragment finalization contracts
  tests/unit/classify/test_lyra_fragments.py
Due: none

feat(02-03): finalize validated fragment calls
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_fragments.py
Due: classify

test(02-03): add failing bounded iterator contracts
  tests/unit/classify/test_lyra_fragments.py
Due: none

feat(02-03): stream finalized fragment results
  src/viral_ngs/classify/lyra.py
Due: classify

test(phase-2): add Nyquist validation tests
  tests/unit/classify/test_lyra_fragments.py
  tests/unit/classify/test_lyra_reconciliation_store.py
Due: none

feat(03-01): write deterministic normalized artifacts
  src/viral_ngs/classify/lyra.py
  tests/unit/classify/test_lyra_artifacts.py
Due: classify

feat(03-01): emit faithful counted viral BAMs
  src/viral_ngs/classify/lyra.py
  src/viral_ngs/core/misc.py
  tests/unit/classify/test_lyra_artifacts.py
  tests/unit/core/test_read_utils.py
Due: core, classify
