Repository broadinstitute/viral-ngs: changes, and which Codecov flags are due for each by the changed paths.
All: core, assemble, classify, phylo

.codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        informational: true  # Never fails, just shows coverage info
    patch:
      default:
        informational: true  # Never fails, just shows patch coverage

# Flag configuration for multi-component coverage
flags:
  core:
    paths:
      - src/viral_ngs/core/
      - src/viral_ngs/util/
      - src/viral_ngs/*.py
    carryforward: true
  assemble:
    paths:
      - src/viral_ngs/assemble/
      - src/viral_ngs/assembly.py
    carryforward: true
  classify:
    paths:
      - src/viral_ngs/classify/
      - src/viral_ngs/metagenomics.py
      - src/viral_ngs/taxon_filter.py
      - src/viral_ngs/kmer_utils.py
    carryforward: true
  phylo:
    paths:
      - src/viral_ngs/phylo/
      - src/viral_ngs/interhost.py
      - src/viral_ngs/intrahost.py
      - src/viral_ngs/ncbi.py
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true  # Only comment if coverage changes

Add copilot-instructions.md and clarify Docker testing in AGENTS.md
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Remove conda/mamba symlinks that cause micromamba subprocess warnings
  AGENTS.md
  docker/Dockerfile.baseimage
Due: none

Fix arm64 cryptography ImportError by pip-installing firecloud (#1042)
  docker/Dockerfile.baseimage
  docker/requirements/baseimage.txt
Due: none

Fix --version returning timestamp instead of semver when CWD lacks VERSION file
  src/viral_ngs/core/version.py
Due: core

Switch Docker builds to Docker Manifest List v2 format for Cromwell compatibility
  .github/actions/create-manifest/action.yml
  .github/workflows/docker.yml
Due: none

Remove OCI annotations from inline version tag imagetools create commands
  .github/workflows/docker.yml
Due: none

Harden manifest verification with error handling and HTTP status checks
  .github/actions/create-manifest/action.yml
Due: none

Fix outer barcode matching: consensus from multiple reads, fuzzy matching, samplesheet-authoritative metrics
  src/viral_ngs/illumina.py
  tests/unit/core/test_illumina.py
Due: core

Address Copilot review: docstring clarity, consensus tie-breaking, unparseable header detection, param validation
  src/viral_ngs/illumina.py
  tests/unit/core/test_illumina.py
Due: core

Fix VcfReader crash on contig headers with multiple attributes (#1049)
  src/viral_ngs/assemble/vcf.py
  tests/unit/assemble/test_util_vcf.py
Due: assemble

Extract parse_contig_header helper; fix same bug in get_chrlens and phylo/vcf
  src/viral_ngs/assemble/vcf.py
  src/viral_ngs/phylo/vcf.py
  tests/unit/assemble/test_util_vcf.py
Due: assemble, phylo

Add container vulnerability scanning workflow with Trivy
  .github/workflows/container-scan.yml
  .trivyignore
Due: none

Fix CodeQL alerts: prevent script injection and add permissions block
  .github/workflows/container-scan.yml
Due: none

Move container scanning into docker.yml; keep schedule-only separate workflow
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
Due: none

Scan amd64 images as soon as they're built, don't wait for manifests
  .github/workflows/docker.yml
Due: none

Add Rego ignore policy for bioinformatics container scans
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
  .trivy-ignore-policy.rego
Due: none

Bump Python deps and add Trivy JSON output for vuln triage
  .github/workflows/container-scan.yml
  .github/workflows/docker.yml
  docker/Dockerfile.baseimage
  docker/requirements/baseimage.txt
  docker/requirements/core.txt
Due: none

Bump base image to micromamba 2.5.0 on Ubuntu 25.10
  docker/Dockerfile.baseimage
Due: none

Fix pyasn1 pin: 0.7.0 does not exist on conda-forge, use 0.6.3
  docker/requirements/baseimage.txt
Due: none

Bump dep pins to actual CVE fix versions; upgrade gpgv via apt
  docker/Dockerfile.baseimage
  docker/requirements/baseimage.txt
  docker/requirements/core.txt
Due: none

Fix pyopenssl/tornado pins: requested versions not yet on conda-forge
  docker/requirements/baseimage.txt
Due: none

Move gap2seq to x86-only; restore pillow>=12.1.1 (CVE-2026-25990)
  docker/Dockerfile.assemble
  docker/Dockerfile.mega
  docker/requirements/assemble-x86.txt
  docker/requirements/assemble.txt
  tests/unit/assemble/test_assembly.py
Due: none

Relax pillow to >=12.0.0 (12.1.1 conflicts with lofreq on ARM64)
  docker/requirements/core.txt
  vulnerability-mitigation-status.md
Due: none

Remove vulnerability-mitigation-status.md from tracking (local-only artifact)
  .gitignore
  vulnerability-mitigation-status.md
Due: none

Relax pillow to >=11.0 (all 12.x conflicts with lofreq on ARM64)
  docker/requirements/core.txt
Due: none

Remove google-cloud-sdk bundled Python from container image
  docker/Dockerfile.baseimage
Due: none

Bump Java tools and add openjdk>=17 for security fixes
  docker/requirements/core.txt
  docker/requirements/phylo.txt
  src/viral_ngs/phylo/snpeff.py
Due: phylo

Remove openjdk>=17 pin — conflicts with gatk=3.8's Java 8 requirement
  docker/requirements/core.txt
Due: none

Remove dead code with known CVEs: mafft dash_client and setuptools vendored jaraco
  docker/Dockerfile.baseimage
  docker/Dockerfile.mega
  docker/Dockerfile.phylo
Due: none

Pin snpeff=5.2 exact — 5.3+/5.4+ require openjdk>=21 which conflicts on ARM64
  docker/requirements/phylo.txt
Due: none

Revert jaraco vendor deletion — setuptools needs jaraco.context at runtime
  docker/Dockerfile.baseimage
Due: none

Add AV:L+S:U Rego rule and document CVE-2026-23949 exception in .trivyignore
  .trivy-ignore-policy.rego
  .trivyignore
Due: none

Revert fgbio to >=2.2.1 — 3.x r-base dep causes icu conflict on ARM64
  docker/requirements/core.txt
Due: none

Revert fastqc and trimmomatic pins to main values — not needed for CVE fixes
  docker/requirements/core.txt
Due: none

Revert snpeff to >=4.3.1t to fix ARM64 solver conflict
  docker/requirements/phylo.txt
  src/viral_ngs/phylo/snpeff.py
Due: phylo

Delete Go binaries from conda pkgs cache too (dash_client, gcloud-crc32c)
  docker/Dockerfile.baseimage
  docker/Dockerfile.mega
  docker/Dockerfile.phylo
Due: none

Pin snpeff=5.1 (log4j 2.17.1, openjdk 8); add vuln management docs to AGENTS.md
  AGENTS.md
  docker/requirements/phylo.txt
  src/viral_ngs/phylo/snpeff.py
Due: phylo

Delete mafft dash_client from assemble image (missed earlier)
  docker/Dockerfile.assemble
Due: none

Nuke conda pkgs cache after install to eliminate cached JAR/binary CVEs
  docker/Dockerfile.assemble
  docker/Dockerfile.baseimage
  docker/Dockerfile.mega
  docker/Dockerfile.phylo
  docker/install-conda-deps.sh
Due: none

Upgrade picard, gatk, fgbio, snpeff to eliminate Java fat JAR CVEs
  docker/requirements/core.txt
  docker/requirements/phylo.txt
Due: none
